{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Confirmar E-mail" %}{% endblock %}

{% block body %}
    {% if email_address %}
        <h1>{% trans "E-mail Confirmado" %}</h1>
        {% user_display email_address.user as user_display %}
        <p>{% blocktrans with email_address.email as email %}Parabéns, {{ user_display }} o e-mail {{ email }} está confirmado.{% endblocktrans %}</p>
        <p>{% blocktrans with email_address.email as email %}Acesse sua conta clicando em entrar.{% endblocktrans %}</p>
    {% else %}
        <p>{% trans "Chave de confirmação inválida." %}</p>
    {% endif %}
{% endblock %}
