{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Avatar" %}{% endblock %}

{% block body %}
    <h1>{% trans "Avatar" %}</h1>
  {% if not avatars %}
        <h3>Você não possui fotos para apagar. <a href="{% url avatar_change %}">Envie uma</a> agora.</h3>
    {% else %}
        <h3>Escolha quais fotos quer apagar:</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <ul class="avatar_choices">
                {{ delete_avatar_form.choices }}
            </ul>
            <input type="hidden" name="next" value="{% url avatar_change %}" />
            <input type="submit" value="Apagar" />
        </form>
        <a href="/avatar/change/">Voltar</a>
    {% endif %}
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
       <!-- nothing here -->
    </script>
{% endblock %}
